body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

header {
  background-image: url(../public/Header-Image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 14.7em;
}

header .buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 3em;
}
header .buttons button {
  margin: 0 1em;
  border: 1px solid black;
  border-radius: 6px;
  height: 2em;
  background-color: white;
}

.curve {
  position: absolute;
  width: 100%;
  height: 15px;
  background: #f6f6f6;
  z-index: 1;
  top: 221px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.title {
  margin: 0px 20px 15px 20px;
}

.announcements {
  background-color: white;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0 1em;
  padding: 5px 5px;
  border-radius: 1em;
}

h1,
h2,
h3,
h5 {
  margin: 0;
}
h5 {
  font-weight: 100;
}

.announcements-text-container {
  display: flex;
  flex-direction: column;
}

.announcements img {
  width: 5em;
}

.scroll-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-menu button {
  margin: 1em;
  width: 13em;
  border: 1px solid white;
  border-radius: 1em;
  background-color: white;
}

.scroll-menu::-webkit-scrollbar {
  display: none;
}

.food-container {
  margin: 1em;
}

.food {
  display: flex;
  background-color: white;
  margin: 1em 0;
  width: auto;
  height: 7em;
  border: 0px solid transparent;
  border-radius: 12px;
}

.food-text {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.food img {
  width: 7em;
  height: 7em;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.center-card {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-container {
  width: 20em;
  margin: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.account-container input {
  width: 80%;
  padding: 1em;
  margin: 1em;
}

.account-container button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.account-container button:hover {
  background-color: #0056b3;
}
