body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../public/Header-Image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 13em;
}

header .buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 3em;
}
header .buttons button {
  margin: 0 1em;
  border: 1px solid black;
  border-radius: 6px;
  height: 2em;
  background-color: white;
}
